@charset "utf-8";

/* html {}

/* body {}

/* header */
header {
    background: #186AC9;
    width: 100%;
}

header h1 img {
    width: 7%;
    height: auto;
    padding: 10px;
}

.user-icon {
    width: 40px;
    height: auto;
}

/* accordion menu */
#accordion {
    float: right;
}


/* main content */
#row {

    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
